<!DOCTYPE html>
<html>
<title>CoverLetterX > Settings </title>
<head>
    <link rel="stylesheet" href="common.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CoverLetterX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</head>
<body class="bg-secondary">

<div class="col-xs-12 align-content-around">
    <div class="col-xs-6">
        <div id="variables">
            <variable-list></variable-list>
        </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
        <textarea cols="100" rows="10" class="form-control"></textarea>
    </div>
</div>




</body>
<script src="options.js"></script>
<script src="vue.js"></script>


<script type="text/x-template" id="variable_list_template">
    <div>
           <template v-for="(variable, i) in variableList">
            
                    <variable  :variable.sync="variable" :index="i"></variable>
               
            </template>
            <br/>
            <button class="btn btn-sm btn-primary" @click="addNewVariable()">Add new variable</button>
            <button class="btn btn-sm btn-success" @click="saveVariables()">Save</button>
        </div>
</script>



<script type="text/x-template" id="variable_template">
    <div class="card">
  <div class="card-body bg-light">
        <form class="form-inline">
  <label class="sr-only" for="inlineFormInputName2">Variable</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="{NAME}" v-model="variable.find">
    &nbsp; in the template will be replaced with &nbsp;
  <label class="sr-only" for="inlineFormInputGroupUsername2">Value</label>
  <div class="input-group mb-2 mr-sm-2">
    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="ex: Jhon"  v-model="variable.replace">
  </div>
   <div class="input-group mb-2 mr-sm-2">
    <button class="btn btn-danger btn-sm" @click="removeElement()" type="button">Delete</button>
  </div>
</form>
  </div>
</div>
</script>


<script src="component.js"></script>
</html>